@import "compass"
//@import "partials/animate"
@import "partials/defaults"
//@import "partials/flipInX"
@import "partials/fonts"
//@import "partials/mixins"
@import "breakpoints"

$grid: 34px

$brand: #0066AE
$brand-darker: darken($brand, 10.75)
$brand-darkest: darken($brand, 21.5)

.fadein 
	@include transition(all .15s)

.nofade
	@include transition(none)

.colbreak
	column-span: all
	-moz-column-span: all
	-webkit-column-span: all
	columns: 1
	-moz-columns: 1
	-webkit-columns: 1
	width: 100%

.row
	clear: both
	overflow: hidden
	padding: 0 0 $grid 0
	width: 100%

.col 
	float: left

	&.fifty
		width: 49%

html *
	box-sizing: border-box

html, body
	height: 100%
	font-family: "Helvetica Neue", "Helvetica", sans-serif
	font-size: 16px
	line-height: $grid
	margin: 0
	padding: 0

body
	background: $brand-darkest
	color: #444
	overflow-x: hidden
	
	///* Fun with OSs & Browsers *///

	// Windows
	.win &
		font-family: "Source Sans Pro"

		nav 

		.content
			section 

				h2 
					font-weight: 400

				p 
					font-size: $grid/2.34
					line-height: $grid

					&.breakout
						font-weight: 700

	//Firefox
	.gecko &
		nav 
			#logo
				-moz-box-sizing: content-box


h1, h2, h3, h4, h5, h6
	color: $brand-darkest

p, ul
	margin: 0

a 
	@extend .fadein
	text-decoration: none

	&:hover
		@extend .fadein



///* Universal *///

.sticky-wrapper
	@extend .fadein
	height: $grid*1.34
	position: absolute
	margin-top: $grid/2
	width: 100%
	z-index: 10

// .background
// 	height: 100%
// 	width: 100%

// 	bottom: 0
// 	left: 0
// 	right: 0
// 	top: 0

// 	margin: 0
// 	padding: 0
// 	position: fixed
// 	overflow: hidden
// 	z-index: -99999

// 	img 
// 		display: none
// 		position: absolute
// 		opacity: 0

nav
	height: $grid*1.34
	margin-bottom: $grid
	width: 100%

	&.stuck
		background: $brand-darkest
		height: $grid*1.34
		position: fixed
		top: 0

		ul 
			li
				a 
					color: #FFF

					&:hover
						background: none
						color: fade_out(lighten($brand, 40), .25)

	.wrapper
		max-width: 1072px
		overflow: hidden
		padding-right: $grid*2

	#logo
		box-sizing: content-box
		//margin: 0
		padding: $grid/5 0 0 $grid*2
		width: 126px

	ul
		float: right
		list-style: none
		-webkit-margin-before: 0
		-webkit-margin-after: 0
		-webkit-padding-start: 0

		li 
			//box-shadow: inset 0 1px 0 1px $brand
			float: left
			margin-top: 6px

			a 
				color: #FFF
				font-size: $grid/2
				font-weight: 700
				line-height: $grid
				margin: 0 $grid/4
				padding: $grid/5 $grid/4
				text-transform: lowercase

				span
					color: fade_out(lighten($brand, 40), .2)
					font-size: 42px

				&.active, &:active
					color: #FFF

				&:hover 
					background: $brand


	svg 
		position: absolute

section
	width: 100%
	
	&[id="home"]
		@include display-box
		@include box-align(center)
		background: fade_out($brand-darkest, .25)
		color: #FFF
		height: 100%
		padding: $grid*2 $grid $grid*2 $grid*2

		.headline 
			width: 1072px

			h1 
				color: #FFF
				display: block
				font-size: $grid*2
				line-height: $grid*2.5
				font-weight: 200
				text-shadow: 0 0 50px $brand-darkest

				strong
					//background: #002742
					//font-weight: 500

				a
					@extend .nofade
					color: #FFF
					font-weight: 500
					margin: 0 -8px
					padding: 0 8px

					&:hover
						@extend .fadein
						background: $brand
						border-bottom: none

.content
	background: #FFF url("../img/portlandia_shreds_clipped.gif") -620px -800px
	background-repeat: no-repeat
	width: 100%

	section
		background: #FFF
		border-bottom: 1px solid fade_out($brand, .95)
		clear: both
		overflow: hidden
		padding: $grid*2 $grid*2 $grid $grid*2
		max-width: 1072px

		.cols
			columns: 2
			//-moz-columns: 2
			-webkit-columns: 2
			column-gap: $grid*2
			//-moz-column-gap: $grid*2
			-webkit-column-gap: $grid*2

		// &:not(:last-of-type)
		// 	border-bottom: 2px solid #EEE

		> *
			max-width: 970px

		h1, h2, h3, h4, h5 
			@extend .colbreak

		h2
			font-size: $grid
			font-weight: 200

		h5
			font-size: $grid/2
			font-weight: 600
			line-height: 22px
			margin-bottom: $grid/1.34

		h6
			color: $brand-darker
			font-size: $grid/2.34
			font-weight: 800
			line-height: $grid/2

			&:not(:first-of-type)
				//margin-top: $grid*2

		p 
			color: #444
			font-size: $grid/2.34
			line-height: $grid/1.25
			margin: 0 0 $grid/2.34 0

			a 
				margin: 0 -2px 
				padding: 0 2px 

			strong
				font-weight: 800

		a 
			color: $brand
			font-weight: 700

			&:hover 
				background: $brand
				color: #FFF

		&[id="shop"]
			background: none
			padding-top: $grid*2
			width: 100%

			header
				color: $brand-darkest
				height: $grid*2
				margin-bottom: 20px

				a 
					display: inline-block
					margin: -4px -8px
					padding: 4px 8px

				.left 
					float: left
					width: 76%

					h2
						color: $brand
						
						&:hover
							color: #FFF
					h5 
						color: $brand-darkest
						border-bottom: none
						margin-bottom: none

				.right
					float: right
					width: 22%

					.price
						display: block
						text-align: right
						width: 100%

						> *
							position: relative

						// i 
						// 	color: $brand
						// 	display: inline-block
						// 	font-size: 380px
						// 	font-weight: 100
						// 	margin-right: -197px
						// 	top: -20px
						// 	transform: rotate(35deg)
						// 	-moz-transform: rotate(35deg)
						// 	-webkit-transform: rotate(35deg)
						// 	z-index: 1

						.currency
							font-size: 34px
							font-weight: 600
							letter-spacing: -3px
							vertical-align: 26px
							z-index: 2

						.amount
							font-size: 74px
							font-weight: 900
							z-index: 2

			.details
				font-size: 11px
				line-height: $grid/2

			.photo
				float: left
				position: relative

				a
					&:hover
						background: none

						.overlay
							opacity: 1

				.overlay
					opacity: 0
					background: fade_out($brand, .25)
					color: #FFF
					position: absolute
					text-align: center

					bottom: 11px // WHY
					left: 0
					right: 0
					top: 0

					span 
						background: $brand
						//-webkit-box-sizing: content-box
						display: block
						margin-top: 30%
						padding: 17px 0

					i 
						color: #FFF
						font-size: $grid*2
						font-weight: normal
						line-height: 0

					p 
						color: #FFF
						font-size: $grid/3
						font-weight: 900
						//letter-spacing: 1px
						line-height: 0
						margin-bottom: 0
						margin-top: -6px
						text-transform: uppercase
					
		&[id="about"] 
			p 
				&.breakout 
					@extend .colbreak
					color: darken($brand, 11)
					font-size: $grid/1.34
					font-weight: 200
					line-height: $grid
					margin: 0 0 $grid/1.34
					
		&[id="team"]
			padding-top: $grid*2

		.bio
			@extend .colbreak
			overflow: hidden
			padding: $grid/2 0

			&:not(:last-of-type)
				border-bottom: 3px solid fade_out($brand, .95)

			.left
				width: 65%
			.right
				width: 30%

			.right

				.photo 
					border-radius: 50%
					margin-left: $grid
					height: 250px
					float: right
					width: 250px
					padding-top: $grid
					text-align: right

					img
						height: 100%
						width: 100%

			.name, .role
				color: $brand-darker
				display: block

			.name 
				font-weight: 800
				line-height: $grid/1.34

			.role 
				color: $brand
				font-size: $grid/3
				font-weight: 600
				line-height: $grid/2
				margin-bottom: $grid/3

			.description
				margin: $grid 0 $grid/2

			.social 
				margin-bottom: 0

				i 
					font-size: $grid*2

					a 
						display: inline-block
						font-weight: normal
						margin-left: -$grid/2
						padding: $grid/2 0
						text-align: center
						width: $grid*2

						&:hover

							&[title="Dribbble"]
								background: #ea4c89

							&[title="Tumblr"]
								background: #2c4762

			&[id="matt"]
				.photo
					background: url("../img/bios/matt_bio.jpg") no-repeat center center
					background-size: 160%

			&[id="lance"]
				.photo
					background: url("../img/bios/lance_bio.jpg") no-repeat center center
					background-size: 100%
			&[id="jen"]
				.photo
					background: url("../img/bios/jen_bio.jpg") no-repeat center center
					background-size: 100%
			&[id="mandy"]
				.photo
					background: url("../img/bios/mandy_bio.jpg") no-repeat center center
					background-size: 100%
			&[id="colin"]
				.photo
					background: url("../img/bios/colin_bio.jpg") no-repeat center center
					background-size: 100%
			&[id="nat"]
				.photo
					background: url("../img/bios/nat_bio.jpg") no-repeat center center
					background-size: 100%
			&[id="branden"]
				.photo
					background: url("../img/bios/branden_bio.jpg") no-repeat center center
					background-size: 100%
			&[id="franco"]
				.photo
					background: url("../img/bios/franco_bio.jpg") no-repeat center center
					background-size: 100%
			&[id="bryce"]
				.photo
					background: url("../img/bios/bryce_bio.jpg") no-repeat center center
					background-size: 100%

		&[id="contact"]

			p 
				font-size: $grid/2

			[id="map"]
				clear: both
				height: 400px
				width: 100%
				margin: 0
				padding: 0

			.hours
				background: fade_out($brand, .96)
				border-radius: 3px
				color: $brand-darker
				margin-top: 6px
				padding: 9px
				text-align: center

				tr 
					line-height: 24px 

				th 
					font-weight: 800
					vertical-align: bottom

				td 
					font-size: $grid/2
